{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/my_admin_style.css' %}">
{% endblock %}


{% block content %}
<div id="content-main">
    <h1>{% trans 'Add Words' %}</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">
            {{ form.as_p }}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Upload' %}" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}
